:host {
    width: 100%;
    height: 100%;
}

.main-header-wrapper { 
    position: relative;
    z-index: 1000;
}
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .main-header-actions { 
        display: flex;
        align-items: center;

        height: 100%;

        mat-divider { 
            padding: 0 5px;
            height: 38px;
        }
        .main-header-button {
            border: 1px solid #70d1b9;
            border-radius: 9px;
            padding: 12px 22px;
            color: #45454c;
            line-height: 1.2;
            text-align: center;
            font-size: 10px;
            font-weight: lighter;
            font-family: "Roboto";
        }

        .header-profile-button { 
            width: 50px;
            padding-left: 10px;
            color: #70d1b9;
        }
    }
}

.main-container {
    width: 100%;
    height: 100%;
}

.main-content {
    width: 100%;
    height: calc(100% - 50px); // - footer and header
    overflow: auto;
}

.main-footer-wrapper {
    bottom: 0;
    width: 100%;
    height: 60px;
    color: rgb(166, 166, 166);
    background-color: rgb(12, 51, 63);
}

.main-footer-container {
    background-color: rgb(12, 51, 63);
    font-size: 16px;
    font-family: "Roboto", serif;
    padding: 14px 0;
    text-align: center;
}
