@import "variables";

:host { 
    width: 100%;
    height: 100%;
}

.cov-page-secondary-table-wrapper { 
    width: 100%;
    height: 100%;
}

.cov-page-secondary-table-content { 
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $background-color; // wheat;
}