@import "variables";

:host {
    width: 100%;
    height: 100%;
}

.cov-page-table-wrapper {
    width: 100%;
    height: 100%;
    background-color: $background-color;
}

.cov-page-table-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-control-container {
    padding: 0 50px;
    width: calc(100% - 100px);
    min-height: 680px;
    height: 95%;
    background-color: white;
    overflow: hidden;
    display: flex;
    
    // &.margin-left {
    //     border-radius: 30px 0 0 30px;
    //     margin-left: 15px;
    // }
    // &.margin-right {
    //     border-radius: 0 30px 30px 0;
    //     margin-right: 15px;
    // }
}

.table-control-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px; 

    .table-control-actions {
        margin: 0 15px;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        
        .text-action {
            color: lightgray;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                color: black;
            }
        }
        .add-record-button { 
            color: $primary-color;
            border-radius: 50%;
            transition: 1s ease-out;
            width: 40px;
            height: 40px;
            line-height: 40px;
            mat-icon {
                margin-top: -4px;
                margin-left: -1px;
                font-size: 35px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                animation: pulse 2s infinite;
            }

        }
        .action-button {
            margin-right: 10px;
            color: $primary-color;
        }
    }

    .table-control-table-wrapper {
        width: 100%;
        height: calc(100% - 40px);
        overflow: auto;
    }

    table {
        border-top: 1px solid lightgray;
        min-width: 100%;

        .mat-column-delete {
            color: $delete-color;
        }

        .padding-column {
            padding: 0px 10px;
        }
    }
}

// .table-control-switcher {
//     min-width: 100px;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     justify-content: space-between;
//     margin: 65px 0;
//     .placeholder { 
//         width: 40px;
//         height: 40px;
//     }
//     .switcher-button {
//         width: 60px;
//         height: 60px;
//         line-height: 50px;

//         mat-icon {
//             width: 50px;
//             height: 50px;
//             line-height: 50px;
//             font-size: 50px;
//             color: $primary-color;
//             border-radius: 50%;
//             transition: 1s ease-out;
//         }

//         &:not(.close) {
//             mat-icon {
//                 animation: pulse 2s infinite;
//             }
//         }

//         &.close {
//             mat-icon {
//                 color: $error-color;
//                 transform: rotate(315deg);
//             }
//         }
//     }
// }

@keyframes pulse {
    0% {
        // transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 128, 128, 0.7);
    }

    70% {
        // transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 128, 128, 0);
    }

    100% {
        // transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 128, 128, 0);
    }
}


.mat-row:hover {
    cursor: pointer;
    background-color: aliceblue;
}



.table-control-editor-wrapper {
    min-width: 100%;
    height: 100%;

    .table-control-editor {
        min-width: 760px;
        height: calc(100% - 50px);
        overflow: auto;
    }

    form {
        .form-row {
            display: flex;
            flex-wrap: wrap;

            h4 {
                width: 100%;
                margin: 16px 0 6px;
                font-size: 16px;
            }

            mat-form-field {
                margin-right: 16px;

                &.big-size {
                    width: 300px;
                }
            }
        }

    }

    .action-buttons {
        min-width: 620px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
        padding: 0px 70px;

        .action {
            margin-right: 20px;

            &.save {
                background-color: $primary-color;
            }
        }
    }
}