<mat-drawer-container class="cov-generator-drawer-container">
    <mat-drawer mode="side" opened>
        <div class="cov-generator-navigation-bar">
            <div class="cov-generator-navigation-bar-content mat-typography">
                <div class="profile-image"><img src="assets/icon.png"></div>
                <div class="cov-generator-navigation-bar-navigation">
                    <div class="cov-generator-navigation-bar-button"
                        [class.selected]="selectedPage === GeneratorPage.Table" matTooltip="Список"
                        matTooltipPosition="right" (click)="selectPage(GeneratorPage.Table)">
                        <mat-icon>toc</mat-icon>
                    </div>
                    <div class="cov-generator-navigation-bar-item-separator"></div>
                    <div class="cov-generator-navigation-bar-button"
                        [class.selected]="selectedPage === GeneratorPage.Print" matTooltip="Печать"
                        matTooltipPosition="right" (click)="selectPage(GeneratorPage.Print)">
                        <mat-icon>description</mat-icon>
                    </div>
                    <!-- <div class="cov-generator-navigation-bar-item-separator"></div>
                    <div class="cov-generator-navigation-bar-button"
                        [class.selected]="selectedPage === GeneratorPage.Result" matTooltip="Вывод"
                        matTooltipPosition="right" (click)="selectPage(GeneratorPage.Result)">
                        3
                    </div> -->
                </div>
                <div class="placeholder"></div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="cov-generator-pages">
            <div class="cov-generator-page main-table" [class.selected]="selectedPage === GeneratorPage.Table"
                [@translateTab]="{
                    value: calculatePosition(0)
                }">
                <cov-page-table [(requests)]="requests"></cov-page-table>
            </div>
            <div class="cov-generator-page second-table" [class.selected]="selectedPage === GeneratorPage.Print"
                [@translateTab]="{
                    value: calculatePosition(1)
                }">
                <!-- <cov-page-secondary-table></cov-page-secondary-table> -->
                <cov-page-print [(requests)]="requests"></cov-page-print>
            </div>
            <!-- <div class="cov-generator-page print" [class.selected]="selectedPage === GeneratorPage.Result"
                [@translateTab]="{
                    value: calculatePosition(2)
                }">
                <cov-page-print [(requests)]="requests"></cov-page-print>
            </div> -->
        </div>

    </mat-drawer-content>
</mat-drawer-container>