$primary-color: cadetblue;
$secondary-color:#ebf1f4; // #fafafa; // 
$secondary-color-gradient: #c1c6c8; // #d5d5d5; //

$background-color: #ebf1f4; // #fafafa; //
// $background-color-dark: #ebebeb;
// $background-focused-color: #f5f5f5;

$border-color: #d1d9e6;

$font-primary: #ffffff;
$font-secondary: #757575;

$font-white-color: #ffffff;
$font-dark-color: #000;

$error-color: #a94442;

$delete-color: #e34d4b;

$warning-color: #e34d4b;
