@import "variables";

.cov-generator-wrapper {
  width: 100%;
  height: 100%;
  background: $background-color;

}

.cov-generator-navigation-bar {
  position: fixed;
  background: #444343;
  border-radius: 10px 0 0 10px;
  right: 0;
  bottom: 25px;
  width: 450px;
  height: 65px;
  display: flex;
  flex-direction: row;

  transition: all 0.7 ease;

  .closed { 
    width: 24px;
  }

  .close-button { 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-right: white solid 1px;
  }
    
  .cov-generator-navigation-bar-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .profile-image { 
      margin: 10px;
      width: 90px;
      height: 90px;
      border: 3px solid $primary-color;
      border-radius: 50%;
      img { 
          height: 100%;
          width: 100%;
      }
  }

  .cov-generator-navigation-bar-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: $primary-color;
    display: flex;
    justify-content: center;
    font-family: system-ui;
    align-items: center;
    font-size: 26px;
    font-weight: 100;
    border: 2px solid pink;
    border-radius: 50%;
    transition: all 0.2s ease-out;

    mat-icon { 
        margin-left: 2px;
    }

    &.selected {
      width: 50px;
      height: 50px;
      font-size: 30px;

      mat-icon { 
        width: 30px;
        height: 30px;
        font-size: 30px;
      }
    }
  }
    
  .cov-generator-navigation-bar-button {
    background: white;
    &:hover {
      box-shadow: inset 6px 6px 12px #b3bec5, inset -6px -6px 12px #ffffff;
    }

    &:not(.selected):hover {
      transform: translateY(-3px);
      //box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  }




  .cov-generator-navigation-bar-item-separator {
    background: lightpink;
    width: 1px;
    height: 20px;
    margin: 7px;
  }
}

.cov-generator-pages { 
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.cov-generator-page { 
    height:100%;
    width: 100%;
    min-height:100%;
    min-width: 100%;
    &.selected { 
        height: 100%;
    }
}
